[submodule "vendor/VulkanSamples"]
	path = vendor/VulkanSamples
	url = https://github.com/LunarG/VulkanSamples.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
	ignore = dirty
[submodule "vendor/glslang"]
	path = vendor/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "vendor/skia"]
	path = vendor/skia
	url = https://github.com/google/skia
	ignore = dirty
[submodule "vendor/SPIRV-Cross"]
	path = vendor/spirv_cross
	url = github:KhronosGroup/SPIRV-Cross
