vendor/bin
vendor/etc
vendor/include
vendor/lib
vendor/jsoncpp
main/v

vendor/LunarGLASS
vendor/VulkanTools

CMakeCache.txt
CMakeLists.txt.user
cmake_install.cmake
CMakeFiles/
__pycache__
*.spv
*.so
*.so.*
_out64
out32/*
out64/*
*.pyc
*.vcproj
*.sln
*.suo
*.vcxproj
*.sdf
*.filters
*.o
*.a
